.contactItem-wrapper {
    display: flex;
    align-items: center;
}

.contactItem-wrapper svg {
    color: #F9E897;
}

.contactItem-content {
    width: 95%;
    margin-left: 10px;
    font-size: 14px;
    font-weight: lighter;
    display: flex;
    gap: 7px;
    flex-direction: column;
}

.contactItem-content h4 {
    font-size: 18px;
    font-weight: lighter;
    color: #F9E897;
}